@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <p class="text-center">ایمیل شما با موفقیت تأیید شد. اکنون می‌توانید <a asp-action="SignIn">وارد شوید</a>.</p>
        </div>
    </div>
</div>
